# Public links shown in the feedback and post-download dialogs.
# Telegram example: https://t.me/your_username
VITE_FEEDBACK_URL=https://github.com/aa-pumpkin/univis-planner/issues/new
VITE_GITHUB_URL=https://github.com/aa-pumpkin/univis-planner
VITE_DONATE_URL=https://www.donationalerts.com/r/pumpkin_aa
